* {

}

.notepad-header {
    width: 100%;
    height: 200px;
    background: beige;
}

.tabList{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.notepadTab{
    display: flex;
    position: absolute;
    top:200px;
    width: 100%;
    height: 70%;
    visibility: collapse;
    background: antiquewhite;
}

.notepadMemo{
    height: 200px;
}